body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1410px;
  padding-left: 15;
  padding-right: 15;
  margin-left: auto;
  margin-right: auto;
}

/* -------------header----------- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  margin-left: 156px;
  flex-grow: 1;
}

.header-menu-list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
  align-items: center;
}

.header-logo-link {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-link:active,
.header-logo-link:hover,
.header-logo-link:focus {
  background: var(--IRIS, #404bbf);
}

.header-logo-detalik {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-link:active,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-address-list {
  display: flex;
  gap: 40px;
  margin-right: 156px;
}

.header-address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------ */
/* -------------hero------------- */

.hero {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 188px 472px 292px 472px;
}

.hero-title {
  width: 496px;
  height: 120px;
  margin-bottom: 48px;
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-button {
  color: var(--WHITE, #fff);
  background-color: #4d5ae5;
  font-size: 16px;
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}
/* ------------------------------ */
/* -----------features----------- */

.features {
  padding: 120px 156px;
}

.features-list {
  display: flex;
}

.features-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------ */
/* -------------team------------- */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  background-color: #f4f4fd;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  min-width: 162px;
  margin: 0 avto 72px;
}

.team-list {
}
.team-item {
  background: var(--CLOUD, #f4f4fd);
}
.team-img {
}
.team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--SLATE, #434455);
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------ */
/* ----------portfolio----------- */

.portfolio {
  background: #fff;
  padding: 120px 156px;
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------------------ */
/* -----------footer------------- */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1440px;
  height: 312px;
}

.footer-link {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 100px;
  padding-left: 156px;
}

.footer-logo-detalik {
  color: var(--CLOUD, #f4f4fd);
  margin-bottom: 16px;
}

.taam-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 100px;
}
/* ------------------------------ */
